/* * * * * *
 * Global  *
 * * * * * */
div {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#app {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/bg.jpg") no-repeat center center;
    background-size: cover;
}

#project-list header {
    margin-bottom: 20px;
}

#project-view header {
    margin-bottom: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

header .logo {
    margin-left: 5px;
    padding: 5px;
    height: 48px;
}

header button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
    height: 42px;

    background-color: lightgray;
    border: none;
    font-size: 12pt;
    cursor: pointer;
}

header button:hover {
    background-color: #c0c0c0;
}

header button img {
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

.hidden {
    display: none !important;
}


/* * * * * *
 * AuthBox *
 * * * * * */
#auth-box {
    display: flex;
    justify-content: center;
    padding-top: 125px;
    height: 100%;
}

#auth-box .logo {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

#auth-box .form-link {
    margin-top: 15px;
}

#auth-box .form-link a {
    color: #0000ac;
    cursor: pointer;
}

#auth-box .form-link a:hover {
    text-decoration: underline;
}


#auth-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    width: 100%;
}

#auth-box form .submit-button {
    margin-top: 20px;
    padding: 5px 0;
    font-size: 16pt;
    width: 60%;

    color: white;
    background-color: #f93975;

    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.input-field {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    margin: 10px;
    padding-bottom: 10px;
    width: 80%;

    border-bottom: solid 1px lightgray;
}

.input-field .form-icon {
    margin-left: 10px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.input-field input {
    width: calc(100% - 35px);
    height: 100%;
    font-size: 14pt;
    background-color: transparent;
    border: none;
}

.input-field input:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

#signin.credential-box {
    height: 365px;
}

#signup.credential-box {
    height: 420px;
}

.credential-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 400px;

    background: #f8f8f8;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}


/* * * * * * * *
 * ProjectList *
 * * * * * * * */
#project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 20px 10px;
    padding: 15px;
    width: 20%;
    height: 100%;

    background: lightgray;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

.project-tile:hover {
    background-color: #c0c0c0;
}

.project-tile h3 {
    text-align: center;
}

.project-tile .project-icon {
    width: 64px;
    height: 64px;
}


/* * * * * * * * *
 * Project View  *
 * * * * * * * * */
.project {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border-top: solid 1px black;
}

/* * * * * *
 * Sidebar *
 * * * * * */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 20%;
    height: calc(100vh - 63px); /* Offset for header */

    background-color: #333333;
}

.project-title {
    padding: 10px;
    width: 100%;

    font-size: 18pt;
    font-weight: bold;
    color: white;

    text-align: center;
    border-bottom: solid 3px #e54d42;
}

.file-tree {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
    color: white;
}

.list-item {
    display: flex;
    align-items: baseline;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
}

.list-item:hover {
    background-color: #444444;
}

.list-icon {
    margin-right: 5px;
    width: 12px;
    height: 12px;
}


/* * * * * *
 * Editor  *
 * * * * * */
#editor {
    width: 80%;
    height: calc(100vh - 63px); /* Offset by space from top of page */
}