/* * * * * *
 * Global  *
 * * * * * */
div {
    box-sizing: border-box;
}

span {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#app {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/bg.jpg") no-repeat center center;
    background-size: cover;
}

.hidden {
    display: none !important;
}


/* * * * * *
 * AuthBox *
 * * * * * */
#auth-box {
    display: flex;
    justify-content: center;
    padding-top: 125px;
    height: 100%;
}

#auth-box .logo {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

#auth-box .form-link {
    margin-top: 15px;
}

#auth-box .form-link a {
    color: #0000ac;
    cursor: pointer;
}

#auth-box .form-link a:hover {
    text-decoration: underline;
}


#auth-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    width: 100%;
}

#auth-box form .submit-button {
    margin-top: 20px;
    padding: 5px 0;
    font-size: 16pt;
    width: 60%;

    color: white;
    background-color: #f93975;

    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.credential-box form .text-input-field {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    margin: 10px;
    padding-bottom: 10px;
    width: 80%;

    border-bottom: solid 1px lightgray;
}

.text-input-field .form-icon {
    margin-left: 10px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.credential-box form .text-input-field input {
    width: calc(100% - 35px);
    height: 100%;
    font-size: 14pt;
    background-color: transparent;
    border: none;
}

.text-input-field input:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

#signin.credential-box {
    height: 365px;
}

#signup.credential-box {
    height: 420px;
}

.credential-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 400px;

    background: #f8f8f8;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}


/* * * * * * * *
 * ProjectList *
 * * * * * * * */
#project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 20px;
    width: 100%;
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 20px 10px;
    padding: 15px;
    width: 18%;
    height: 100%;

    background: lightgray;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

.project-tile:hover {
    background-color: #c0c0c0;
}

.project-tile h3 {
    text-align: center;
}

.project-tile .project-icon {
    width: 64px;
    height: 64px;
}


/* * * * * * * * *
 * Project View  *
 * * * * * * * * */
.project {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border-top: solid 1px black;
}

/* * * * * *
 * Header  *
 * * * * * */
#project-list header {
    margin-bottom: 20px;
}

#project-view header {
    margin-bottom: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: scroll;
}

header .logo {
    margin-left: 5px;
    margin-right: 10px;
    padding: 5px;
    height: 48px;
}

header button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px 10px 5px 0;
    height: 42px;

    background-color: lightgray;
    border: none;
    font-family: inherit;
    font-size: 12pt;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

header button:hover {
    background-color: #c0c0c0;
    cursor: pointer;
}

.button-icon {
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

.header-options {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    /* TODO: Figure out why pointer cursor stopped working when you add images */
}

.checkbox-header-item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px 10px 5px 0;
    padding: 8px;
    height: 42px;

    font-size: 12pt;
    font-weight: bold;
    background-color: lightgray;
    user-select: none;
    cursor: pointer;
}

.checkbox-header-item:hover {
    background-color: #c0c0c0;
}

.checkbox-header-item input {
    margin-right: 5px;
    cursor: pointer;
}

/* * * * * *
 * Sidebar *
 * * * * * */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 20%;
    height: calc(100vh - 63px); /* Offset for header */

    background-color: #333333;
    border-right: solid 2px #313131;
}

.project-title {
    padding: 10px;
    width: 100%;

    font-size: 18pt;
    font-weight: bold;
    color: white;

    text-align: center;
    border-bottom: solid 3px #e54d42;
}

.file-tree {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
    color: white;
}

.list-item {
    display: flex;
    align-items: baseline;
    padding: 5px 10px;
    width: 100%;
    overflow: scroll; /* Buggy on Chrome (icon disappears until window resized) */
    cursor: pointer;
}

/*
 * TODO: Figure out why this is buggy in Chrome only
 */
.list-item.selected {
    /*background-color: #444444;*/
}

.list-item:hover {
    /*background-color: #444444;*/
}

.list-icon {
    margin-right: 5px;
    width: 12px;
    height: 12px;
}


/* * * * * *
 * Editor  *
 * * * * * */
#editor-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 80%;
    height: calc(100vh - 63px); /* Offset by space from top of page */
    border-left: solid 4px #333333;
}

#file-bar {
    display: flex;
    width: 100%;
    min-height: 50px;
    background-color: #222222;
    overflow: scroll;
}

.file-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    min-width: 100px;
    width: 150px;
    height: 50px;
    overflow: hidden;

    font-size: 10pt;
    color: #a6a6a6;
    background-color: #333333;
    border-bottom: solid 3px #222222;
    border-right: solid 1px #222222;
    cursor: pointer;
}

.file-tab.selected {
    color: white;
    background-color: #313131;
    border-bottom: solid 3px #e54d42;
}

.file-tab:hover {
    color: white;
}

.file-tab .filename {
    margin-right: 5px;
    overflow: scroll;
}

#editor {
    width: 100%;
    height: 100%;
}


/* * * * * * * * *
 * Live Preview  *
 * * * * * * * * */
#live-preview {
    width: 40%;
    height: calc(100vh - 63px); /* Offset by space from top of page */
    background-color: white;
}

#live-preview-title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    font-size: 14pt;
    color: white;
    background-color: #313131;
    border-bottom: solid 3px #e54d42;
}

#preview-frame {
    width: 100%;
    height: calc(100% - 50px);
    border: none;
    outline: none;
}


/* * * * *
 * Modal *
 * * * * */
.modal-background {
    position: absolute;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) no-repeat center center;
    background-size: cover;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;

    background-color: #f8f8f8;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);

    opacity: 0;
    animation-name: float-up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.modal-close-button {
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-right: 15px;
    width: 100%;

    font-size: 20pt;
    color: gray;
    cursor: pointer;
}

.positioned-close-button {
    position: absolute;
    top: 0;
}

.modal-content h2 {
    border-bottom: solid 1px lightgray;
}

.modal-error {
    font-weight: bold;
    color: red;
}

.modal-content form {
    margin-top: 15px;
    width: 80%;
}

.modal-content form .text-input-field {
    display: flex;
    width: 100%;
    border-bottom: solid 1px lightgray;
}

.modal-content form .text-input-field input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14pt;
    background-color: transparent;
    border: none;
}

.modal-content form .checkbox-input-field {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content form .checkbox-input-field input {
    margin-right: 5px;
}

.modal-content .submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-content form .submit-button {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 5px 0;
    font-size: 16pt;
    width: 60%;

    color: white;
    background-color: #f93975;

    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.fixed-extension-input {
    width: 80% !important;
}

#fixed-file-extension {
    margin-bottom: -1px;
    min-width: 20%;
    height: 25px;
    text-align: center;
    border: solid 1px lightgray;
    overflow: scroll;
}

.file-type-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.file-type-picker input[type=radio] {
    display: none;
}

.file-type-picker input[type=radio] + label {
    border: solid 1px transparent;
    cursor: pointer;
}

.file-type-picker input[type=radio]:checked + label {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: solid 1px rgba(81, 203, 238, 1);
    cursor: pointer;
}

.image-checkbox + label {
    display:flex;
    justify-content: center;
    align-items: center;

    width: 33%;
    height: 100px;
    cursor: pointer;
}

#pick-html + label {
    background: url("../images/html.png") no-repeat center center;
    background-size: 50%;
}

#pick-css + label {
    background: url("../images/css.png") no-repeat center center;
    background-size: 50%;
}

#pick-js + label {
    background: url("../images/js.png") no-repeat center center;
    background-size: 50%;
}

#modal-share .modal-content form {
    margin-bottom: 20px;
}

#modal-share h2 {
    margin-bottom: 0;
}

#modal-share .modal-error {
    margin-top: 5px;
    color: blue;
}

#modal-share .modal-content form .text-input-field {
    border: none;
    height: 32px;
}

#modal-share .modal-content form input {
    box-sizing: border-box;
    border: solid 1px lightgray;
    text-align: left;
}

#copy-share-link {
    margin-bottom: -1px;
    min-width: 20%;
    height: 100%;
    text-align: center;
    background-color: #f93975;
    border: solid 3px #f93975;
    overflow: scroll;
    cursor: pointer;
}

#copy-share-link img {
    width: inherit;
    height: inherit;
}


/* * * * * * *
 * Animation *
 * * * * * * */
@keyframes float-up {
    0% {
        margin-top: 100px;
        opacity: 0;
        top: 4rem;
    }

    100% {
        margin-top: 0;
        opacity: 1;
        top: 0;
    }
}


/* * * * * * * * *
 * Mobile Layout *
 * * * * * * * * */
@media (max-width: 700px) {
    .projects {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .project-tile {
        width: 40%;
    }
}